body {
	background-color: #000;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
}

header {
	background: rgb(0, 0, 0, 0.5);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.logo img {
	width: 54px;
}

#banner {
	background-image: url('../images/banner-bg.jpg');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	background-size: cover;
	padding-top: 130px;
	padding-bottom: 80px;
	
}

.banner-text h2 {
	font-size: 128px;
	line-height: 110px;
	font-weight: 900;
	background: rgb(255, 215, 60);
	background: linear-gradient(180deg, rgba(253, 76, 101, 1) 0%, rgba(255, 215, 60, 1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes float {
	0% {
		transform: translatey(10px);
	}

	50% {
		transform: translatey(-10px);
	}

	100% {
		transform: translatey(10px);
	}
}

@keyframes zoom {
	0% {
		transform: scale(100%);
	}

	50% {
		transform: scale(95%);
	}

	100% {
		transform: scale(100%);
	}
}

.banner-character {
	transform: translatey(0px);
	animation: zoom 5s ease-in-out infinite;
}

.banner-strip {
	background: #FFD73C;
}

#content {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-image: url('../images/content-bg.jpg');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	background-size: contain;
}

.presale {
	background: rgb(253, 76, 101);
	background: linear-gradient(180deg, rgba(253, 76, 101, 0.8) 0%, rgba(253, 76, 101, 0.05) 100%);
}

.winners {
	background: rgb(81, 217, 26);
	background: linear-gradient(180deg, rgba(81, 217, 26, 0.8) 0%, rgba(81, 217, 26, 0.05) 100%);
}

.heading h3 {
	font-weight: 800;
	color: #FFD73C;
}

.progress {
	height: 1.75rem;
}

.feature {
	background: rgb(253, 76, 101);
	background: linear-gradient(90deg, rgba(253, 76, 101, 0.3) 0%, rgba(253, 76, 101, 0) 100%);
	min-height: 190px !important;
}

.feature-star {
	left: -20px;
	top: -12px;
}

.feature-star img {
	width: 40px;
}

ul.list-feature {
	padding-left: 0;
	margin-bottom: 0;
}

ul.list-feature li {
	background-image: url('../images/list-arrow.svg');
	background-repeat: no-repeat;
	background-position-y: 3px;
	background-size: 16px;
	list-style-type: none;
	margin-bottom: 0.5rem;
	padding-left: 24px;
	font-size: 14px;
}

ul.list-feature li:last-child {
	margin-bottom: 0;
}

footer {
	background: rgb(81, 217, 26);
	background: linear-gradient(0deg, rgba(81, 217, 26, 0.5) 0%, rgba(81, 217, 26, 0.3) 100%);
}

/* TIMER STYLES */
.timeContainer {
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.timeContainer .wrapper {
	display: flex;
	justify-content: space-around;
	gap: 20px;
}

.timeContainer .wrapper div {
	color: #E49A24;
	text-align: center;
}

.timeContainer .wrapper div h2 {
	color: #fff;
	font-size: 2.5rem;
	margin-bottom: 0px;
}